{% extends 'layouts/main.html' %} {% block content %}
<style>
  @media (max-width: 767px) {
    #select {
      display: flex !important;
      flex-direction: column;
      align-items: center !important;
      justify-content: center !important;
      gap: 10px !important;
      margin-bottom: 20px;
    }
    #select button {
      display: inline-block !important;
    }
    #buscar {
      width: 100% !important;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    #buscar .buscar {
      gap: 10px !important
    }
    #buscar label {
      display: none;
    }
    #buscar input {
      width: 320px !important;
    }
  }
</style>
<div class="bg-primary mb-4">
  <div class="container p-2 d-flex">
    <a
      style="font-size: 20px"
      href="{% url 'home' %}"
      class="text-white text-capitalize me-2 nav-link"
      >home /</a
    >
    <a
      style="font-size: 20px"
      href="{% url 'shop' %}"
      class="text-white text-capitalize me-2 nav-link"
    >
      shop</a
    >
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 d-flex flex-column gap-3">
      <form action="{% url 'buscar_producto'  %}" method="POST" id="buscar">
        {% csrf_token %}
        <label class="mb-2 text-uppercase" style="font-size: 20px" for=""
          >Buscar producto</label
        >
        <div class="buscar d-flex">
          <input
            name="buscarproducto"
            type="search"
            id="tags"
            required
            class="form-control"
            placeholder="Buscar un producto...."
            style="width: 220px; height: 40px"
          />
          <button type="submit" class="btn btn-primary mx-auto block">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <!-- SelectPicker -->
      <form action="" method="POST" id="select">
        {% csrf_token %}<!--  -->
        {% include 'inc/selectpicker.html' %}
        <button type="submit" class="btn btn-primary float-end">
          ver colección
        </button>
      </form>
      <!-- end SelectPicker -->
    </div>

    <div class="col-md-9">
      <div class="row gap-2">
        {% for item in productos %}
        <div class="col-md-3 mx-auto mb-3">
          <a
            style="text-decoration: none"
            href="{% url 'verproducto' item.coleccion.name item.name %}"
            ><div class="card shadow" style="width: 16rem">
              <img class="card-top" src="{{item.img.url}}" />
              <div class="card-body">
                <p
                  class="text-uppercase"
                  style="font-size: 14px; margin-bottom: 0"
                >
                  {{item.coleccion.name}}
                </p>
                <h4 style="font-size: 16px" class="text-uppercase">
                  {{item.name}}
                </h4>
                <p style="font-size: 14px; margin-bottom: 5px">
                  $ {{item.precio | stringformat:"d"}}
                </p>
                <p
                  class="text-uppercase"
                  style="
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: #1d84b5;
                    font-weight: bold;
                  "
                >
                  3 cuotas sin interes
                </p>
              </div>
            </div></a
          >
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include 'inc/paginacion.html' %}
<!--  -->
{% endblock content %}<!--  -->
{% block scripts %}

<script>
  $(function () {
    var availableTags = [];

    $.ajax({
      method: "GET",
      url: "/lista-de-productos",
      success: function (response) {
        response.forEach((item) => availableTags.push(item));
      },
    });
    $("#tags").autocomplete({
      source: availableTags,
    });
  });
</script>
{% endblock scripts %}
