{% extends 'layouts/main.html' %} {% block content %}
<div class="bg-primary mb-3">
  <div class="container p-2 d-flex">
    <a
      style="font-size: 20px"
      href="{% url 'home' %}"
      class="text-white text-capitalize me-2 nav-link"
      >home /</a
    >
    <a
      style="font-size: 20px"
      href="{% url 'carrito' %}"
      class="text-white text-capitalize me-2 nav-link"
    >
      Carrito de Compras
    </a>
  </div>
</div>
<section id="cart">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body" id="cart-data">
              {% if carrito %} {% for item in carrito %}
              <div class="row" id="producto_data">
                <div class="col-md-2 my-auto">
                  <img
                    width="70px"
                    height="70px"
                    src="{{item.producto.img.url}}"
                    alt="{{item.producto.name}}"
                  />
                </div>
                <input
                  type="hidden"
                  id="stock-producto"
                  value="{{item.producto.cantidad}}"
                />
                <div class="col-md-3 my-auto">
                  <h6>{{item.producto.name}}</h6>
                </div>
                <div class="col-md-2 my-auto">
                  <h6>$ {{item.producto.precio|stringformat:"d"}}</h6>
                </div>
                <div class="col-md 3 my-auto">
                  <input
                    type="hidden"
                    id="producto_id"
                    value="{{item.producto_id}}"
                  />
                  {% csrf_token %}
                  <!-- Condicional -->
                  {% if item.producto.cantidad >= item.cantidad_requerida %}
                  <h6 class="mx-4 text-uppercase"
                    >Cantidad</h6
                  >
                  <div
                    class="input-group text-center mb-3"
                    style="width: 130px"
                  >
                    <button
                      class="input-group-text changeQuantity decrement-btn"
                    >
                      -
                    </button>
                    <input
                      type="text"
                      name="quantity"
                      id="qty_input"
                      class="form-control text-center"
                      value="{{item.cantidad_requerida}}"
                    />
                    <button
                      class="input-group-text changeQuantity increment-btn"
                    >
                      +
                    </button>
                  </div>
                  {% else %}
                  <h6>No hay stock disponible</h6>
                  {% endif %}
                </div>
                <div class="col-md-2 my-auto">
                  <button class="btn btn-danger" id="borrar-item">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </div>
              </div>
              <hr />
              {% endfor %}
              <a
                href="{% url 'checkout' %}"
                class="btn btn-outline-success float-end text-capitalize"
                >finalizar compra</a
              >
              {% else %}
              <h4 class="text-center">Your cart is empty</h4>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
